body {
    margin: 0;
    padding: 0;
    background-color: skyblue;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.board {
    display: grid;
    height: 500px;
    width: 500px;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
}

.turn {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-top: 16px;

}

.cell {
    font-size: 70px;
    border: 2px solid black;
    background-color: rgb(255, 219, 219);
}

#reset {
    display: none;
    margin: 24px;
    padding: 32px 64px;
    font-size: 24px;
    box-sizing: border-box;
    font-weight: bold;
    background-color: lightgreen;
    border-radius: 10px;
    border: 2px solid black;
}